# Xcode
.DS_Store
*.xcuserstate
*.xcworkspace/xcuserdata/
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Swift Package Manager
.swiftpm/
.build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Logs
logs/*.log

# Temporary files
*.tmp
*.temp

# Sensitive data
.env
credentials.json
secrets/

# IDE
.vscode/
.idea/
